{% extends 'base.html.twig' %}

{% block title %}Hello CreditsController!{% endblock %}

{% block body %}

    <div class="container my-5">

    <h1 class="container mb-5">{% trans %}Specials Thanks to the artists: {% endtrans %}</h1>

        <div class="row">
            <div class="pb-3">
                <img src="{{ asset('images/drapeaux/es.png') }}" alt="spanish flag"  class="flag-credits">
                <a href="https://www.flaticon.com/free-icons/spain" title="spain icons">Spain icons created by Freepik - Flaticon</a>
            </div>
            <div class="pb-3">
                <img src="{{ asset('images/drapeaux/fr.png') }}" alt="french flag"  class="flag-credits">
                <a href="https://www.flaticon.com/free-icons/france" title="france icons">France icons created by Freepik - Flaticon</a>
            </div>
            <div class="mb-3">
                <img src="{{ asset('images/drapeaux/en.png') }}" alt="united-kingdom flag"  class="flag-credits">
                <a href="https://www.flaticon.com/free-icons/uk-flag" title="uk flag icons">Uk flag icons created by Freepik - Flaticon</a>
            </div>
            <div class="mb-3">
                <img src="{{ asset('images/drapeaux/ru.png') }}" alt="russian flag"  class="flag-credits">
                <a href="https://www.flaticon.com/free-icons/russia" title="russia icons">Russia icons created by GeekClick - Flaticon</a>
            </div>
        </div>
    </div>

{% endblock %}
